/* sx={{ display: 'flex', gap: '20px'}} */
/* .box {
  display: none;
}
.list {
  display: none;
}
.btn {
  display: none;
}

@media screen and (min-width: 420px) {
  .list {
    display: flex;
  }
  .btn {
    display: block;
  }
  .box {
    display: flex;
  }
} */
